.HeroSection {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    padding: 0 10%;
}

.TextSection {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Lemon {
    color: #f4ce14;
    font-size: 64px;
    height: 10%;
}

.Location {
/*    height: 0%;  */
    font-size: 40px;
    color: #edefee;
}

.Text {
    font-size: 18px;
    color: #edefee;
}

.Button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4ce14;
    border-radius: 16px;
    cursor: pointer;
}


.HeroImage {
    height: 500px;
    width: 400px;
    margin-left: auto;
    background-image: url(/src/Images/Herofood.jpg);
    background-size: cover;
    background-position: 0 50%;
    border-radius: 16px;
}

@media (max-width: 900px) {
    .HeroSection {
        display: flex;
        flex-direction: column;
    }
    .HeroImage {
        height: 0px;
        width: 0px;
    }
}