.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    color: #fff;
    width: 100%;
}


.LinksList {
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

.LinksList li {
    display: inline-block;
    margin: 0.5rem;
}

.LinksList li a {
    color: #000000;
    margin: 0 0.5em;
}

@media (max-width: 800px) {
    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .LinksList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
    }
}